body {
  background: #FAFAFA; }

html, body {
  width: 100%;
  overflow-x: hidden; }

.modal-padding {
  padding: 1.2rem 0 1.2rem; }

.modal-banner {
  width: 100%;
  background: linear-gradient(180deg, #231833 0%, #4A3774 50%, #231B34 100%, #543E8B 100%);
  border-radius: 0px 0px 0px 2.4rem;
  padding: 2.2rem 0 1.4rem; }
  .modal-banner .modal-banner-wrap {
    width: 75%;
    margin: 0 auto; }
  .modal-banner .right {
    width: 4.6rem;
    margin-left: 2rem; }
    @media screen and (max-width: 414px) {
      .modal-banner .right {
        margin-left: 0;
        margin-top: 0.6rem; } }
    .modal-banner .right img {
      width: 100%; }
  .modal-banner .left h3 {
    font-size: 0.4rem;
    color: #FFFFFF;
    line-height: 0.6rem; }
  .modal-banner .left p {
    font-size: 0.22rem;
    color: #E4E4E3;
    line-height: 2;
    margin: 0.37rem 0 0.6rem; }
  .modal-banner .left .btns a {
    width: 1.8rem;
    line-height: 0.6rem;
    background: #4ED0DC;
    box-shadow: 4px 6px 4px 0px rgba(37, 146, 156, 0.3);
    border-radius: 0.1rem;
    display: inline-block;
    text-align: center;
    font-size: 0.24rem;
    color: #fff;
    margin-right: 0.4rem; }

.modal-title {
  text-align: center;
  margin: 0 auto 0.55rem; }
  .modal-title .title-zn {
    font-size: 0.5rem;
    color: #8B60DF;
    line-height: 1.2; }
  .modal-title .title-en {
    font-size: 0.24rem;
    color: #BDC2C4;
    line-height: 0.3rem;
    margin-top: 0.15rem;
    text-transform: uppercase; }
  .modal-title .title-desc {
    font-size: 0.2rem;
    color: #543E8B;
    line-height: 1.8;
    letter-spacing: 2px;
    margin-top: 0.3rem; }
  .modal-title .title-zn.white, .modal-title .title-en.white {
    color: #fff; }

.modal-ctt .modal-ctt-wrap {
  padding: 0 9%; }
.modal-ctt .ctt-item {
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.08);
  border-radius: 0.2rem;
  min-height: 5.42rem;
  background: #fff; }
  @media screen and (max-width: 414px) {
    .modal-ctt .ctt-item {
      margin-bottom: 0.4rem; } }
  .modal-ctt .ctt-item .ci-padding {
    padding: 0.6rem 0.18rem; }
  .modal-ctt .ctt-item .ci-avatar {
    height: 1.2rem; }
    .modal-ctt .ctt-item .ci-avatar img {
      height: 100%; }
  .modal-ctt .ctt-item .ci-title {
    font-size: 0.38rem;
    color: #543E8B;
    line-height: 0.4rem;
    margin-top: 0.4rem; }
  .modal-ctt .ctt-item .ci-line {
    height: 4px;
    background: #8B60DF;
    margin: 0.2rem 0 0.32rem; }
  .modal-ctt .ctt-item .ci-info {
    font-size: 0.2rem;
    color: #888888;
    line-height: 2;
    text-align: justify; }

.modal-obtain {
  background: #4ED0DC;
  border-radius: 0px 240px 0px 0px; }
  .modal-obtain .modal-obtain-wrap {
    padding: 0 9%; }
    .modal-obtain .modal-obtain-wrap .obtain-item {
      background: #FFFFFF;
      box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.08);
      border-radius: 0.22rem;
      margin-bottom: 0.4rem; }
      .modal-obtain .modal-obtain-wrap .obtain-item .oi-padding {
        padding: 0.4rem; }
      .modal-obtain .modal-obtain-wrap .obtain-item .oi-line {
        height: 4px;
        background: #8B60DF;
        margin: 0.2rem 0 0.2rem; }
      .modal-obtain .modal-obtain-wrap .obtain-item .oi-info {
        font-size: 0.22rem;
        color: #888888;
        line-height: 2; }
      .modal-obtain .modal-obtain-wrap .obtain-item .oi-title span {
        font-size: 1rem;
        color: #8B60DF;
        margin-right: 0.3rem;
        font-weight: 600; }
      .modal-obtain .modal-obtain-wrap .obtain-item .oi-title {
        font-size: 0.38rem;
        color: #543E8B;
        line-height: 1; }

.modal-product .product-img img {
  width: 100%; }

.modal-token {
  background: #543E8B;
  border-radius: 1.6rem 1.6rem 0px 0px; }
  .modal-token .modal-token-wrap {
    padding: 0 9%; }
    .modal-token .modal-token-wrap .token-top {
      margin-bottom: 1.8rem; }
    @media screen and (max-width: 414px) {
      .modal-token .modal-token-wrap .token-top-right {
        margin-top: 0.4rem; } }
    .modal-token .modal-token-wrap .token-top-right img {
      width: 100%; }
    .modal-token .modal-token-wrap .token-btm-left {
      padding-right: 0.5rem; }
      .modal-token .modal-token-wrap .token-btm-left img {
        width: 100%; }
    .modal-token .modal-token-wrap .token-top-left .tltle {
      font-size: 0.5rem;
      color: #FFFFFF;
      line-height: 1.2; }
    .modal-token .modal-token-wrap .token-top-left .list {
      margin: 0.6rem 0; }
    .modal-token .modal-token-wrap .token-top-left .list li {
      font-size: 0.22rem;
      color: #E4E4E3;
      line-height: 0.56rem; }
      .modal-token .modal-token-wrap .token-top-left .list li span {
        color: #9182BB;
        margin-right: 0.3rem; }
    .modal-token .modal-token-wrap .token-top-left .btns a {
      width: 1.8rem;
      line-height: 0.6rem;
      background: #4ED0DC;
      box-shadow: 4px 6px 4px 0px rgba(37, 146, 156, 0.3);
      border-radius: 0.1rem;
      display: inline-block;
      text-align: center;
      font-size: 0.24rem;
      color: #fff;
      margin-right: 0.4rem; }
    @media screen and (max-width: 414px) {
      .modal-token .modal-token-wrap .token-btm-right {
        margin-top: 0.4rem; } }
    .modal-token .modal-token-wrap .token-btm-right .title {
      font-size: 0.5rem;
      color: #FFFFFF;
      line-height: 1.2; }
    .modal-token .modal-token-wrap .token-btm-right .tbr-btm {
      display: flex;
      justify-content: space-between; }
      .modal-token .modal-token-wrap .token-btm-right .tbr-btm .tbr-btm-left {
        margin-right: 0.6rem; }
      .modal-token .modal-token-wrap .token-btm-right .tbr-btm .tbrb-item {
        margin-top: 0.6rem; }
        .modal-token .modal-token-wrap .token-btm-right .tbr-btm .tbrb-item h6 {
          font-size: 0.3rem;
          color: #4ED0DC;
          line-height: 1.2; }
        .modal-token .modal-token-wrap .token-btm-right .tbr-btm .tbrb-item p {
          font-size: 0.22rem;
          color: #BDC2C4;
          line-height: 1.5; }

#footer {
  width: 100%;
  background: linear-gradient(180deg, #4ED0DC 0%, #8B60DF 100%); }
  #footer .footer-wrap {
    padding: 0.96rem 9%; }
    #footer .footer-wrap .ft-item {
      color: #FFFFFF;
      line-height: 1.5;
      font-size: 0.28rem;
      text-align: left;
      padding-bottom: 0.16rem;
      font-weight: 600; }
    #footer .footer-wrap .fb-item {
      padding-top: 0.4rem;
      border-top: 2px solid #fff; }
      @media screen and (max-width: 414px) {
        #footer .footer-wrap .fb-item {
          padding-top: 0.16rem; } }
    #footer .footer-wrap .fb-item li {
      color: #FFFFFF;
      line-height: 2;
      font-size: 0.24rem;
      text-align: left; }
    @media screen and (max-width: 414px) {
      #footer .footer-wrap .footer-item {
        margin-bottom: 0.4rem; } }

/*# sourceMappingURL=modal.css.map */
