body {
  background: #FAFAFA; }

html, body {
  width: 100%;
  overflow-x: hidden; }

.modal-padding {
  padding: 1.2rem 0 1.2rem; }

.modal-banner {
  width: 100%;
  background: linear-gradient(180deg, #231833 0%, #4A3774 50%, #231B34 100%, #543E8B 100%);
  border-radius: 0px 0px 0px 2.4rem;
  padding: 2.2rem 0 1.4rem; }
  .modal-banner .modal-banner-wrap {
    width: 75%;
    margin: 0 auto; }
  .modal-banner .right {
    margin-left: 2rem; }
    .modal-banner .right img {
      width: 100%; }
    @media screen and (max-width: 414px) {
      .modal-banner .right {
        width: auto;
        margin-left: 0;
        margin-top: 0.6rem; } }
  .modal-banner .left h3 {
    font-size: 0.4rem;
    color: #FFFFFF;
    line-height: 0.6rem; }
  .modal-banner .left p {
    font-size: 0.22rem;
    color: #E4E4E3;
    line-height: 2;
    margin: 0.37rem 0 0.6rem; }
  .modal-banner .left .btns a {
    line-height: 0.6rem;
    background: #4ED0DC;
    box-shadow: 4px 6px 4px 0px rgba(37, 146, 156, 0.3);
    border-radius: 0.1rem;
    display: inline-block;
    text-align: center;
    font-size: 0.24rem;
    color: #fff;
    margin-right: 0.4rem;
    padding: 0 0.24rem; }
  .modal-banner .left .btns span {
    font-size: 0.22rem;
    color: #4ED0DC;
    line-height: 0.6rem; }

.title {
  text-align: center; }
  .title h2 {
    font-size: 0.5rem;
    color: #8B60DF;
    text-align: center; }
  .title .subtitle {
    font-size: 0.24rem;
    color: #BDC2C4;
    margin-top: 0.1rem; }

.mission {
  padding: 1.2rem 0 1rem; }
  .mission .mission-img {
    width: 71.61%;
    margin: 0 auto; }
  .mission .mission-img img {
    width: 100%; }
  .mission .subtext {
    color: #543E8B;
    margin-top: 0.3rem;
    letter-spacing: 2px;
    font-size: 0.22rem; }

.knowus .knowus-wrap {
  width: 100%;
  border-radius: 0px 2.4rem 0px 0px;
  background: #fff;
  padding: 1.2rem 0; }
.knowus .knowus-list-wrap {
  padding: 0 7.4%; }
  @media screen and (max-width: 414px) {
    .knowus .knowus-list-wrap {
      padding: 0; } }
.knowus .knowus-item {
  min-height: 7.34rem; }
  @media screen and (max-width: 414px) {
    .knowus .knowus-item {
      margin-bottom: 0.4rem; } }
.knowus .knowus-list {
  margin-top: 0.6rem; }
.knowus .knowus-item .ki-avatar {
  height: 3.19rem;
  overflow: hidden; }
  .knowus .knowus-item .ki-avatar img {
    height: 100%; }
.knowus .ki-info .ki-name {
  color: #543E8B;
  line-height: 0.6rem;
  font-size: 0.38rem;
  font-weight: 600; }
.knowus .ki-info {
  margin-top: 0.6rem;
  padding-bottom: 0.2rem;
  border-bottom: 2px solid #BDC2C4; }
.knowus .ki-info .ki-position {
  color: #543E8B;
  line-height: 30px;
  letter-spacing: 2px;
  margin-top: 7px;
  font-size: 0.22rem; }
.knowus .ki-intro {
  margin-top: 0.2rem;
  color: #888888;
  line-height: 2;
  font-size: 0.2rem; }

.joinus {
  padding: 1rem 0 0.8rem; }
  .joinus .subtext {
    color: #543E8B;
    margin-top: 0.3rem;
    letter-spacing: 2px;
    font-size: 0.22rem; }
  .joinus .joinus-wrap {
    padding: 0 9.38%; }
    @media screen and (max-width: 414px) {
      .joinus .joinus-wrap {
        padding: 0; } }
  .joinus .joinus-list {
    margin-top: 0.6rem; }
  .joinus .jl-item {
    margin-bottom: 0.5rem;
    background: #E4E4E3;
    border-radius: 0.2rem;
    font-size: 0.3rem;
    color: #543E8B;
    text-align: center;
    line-height: 0.9rem;
    font-weight: 600; }

#footer {
  width: 100%;
  background: linear-gradient(180deg, #4ED0DC 0%, #8B60DF 100%); }
  #footer .footer-wrap {
    padding: 0.96rem 9%; }
    #footer .footer-wrap .ft-item {
      color: #FFFFFF;
      line-height: 1.5;
      font-size: 0.28rem;
      text-align: left;
      padding-bottom: 0.16rem;
      font-weight: 600; }
    #footer .footer-wrap .fb-item {
      padding-top: 0.4rem;
      border-top: 2px solid #fff; }
      @media screen and (max-width: 414px) {
        #footer .footer-wrap .fb-item {
          padding-top: 0.16rem; } }
    #footer .footer-wrap .fb-item li {
      color: #FFFFFF;
      line-height: 2;
      font-size: 0.24rem;
      text-align: left; }
    @media screen and (max-width: 414px) {
      #footer .footer-wrap .footer-item {
        margin-bottom: 0.4rem; } }

/*# sourceMappingURL=team.css.map */
