.index-logo {
  width: 520px;
  margin: 160px auto 0; }
  .index-logo img {
    width: 100%; }

.index-title {
  font-size: 80px;
  color: rgba(0, 0, 0, 0.7);
  margin: 180px auto; }

.index-des {
  font-size: 20px; }

.index-footer {
  justify-content: center;
  margin: 40px 0; }

.p-3-table .p-table-header .p-table-col {
  min-height: 40px;
  padding: 10px 0; }

.p-3-table-header {
  background: #d9d9d9; }
  .p-3-table-header .p-table-col {
    min-height: 40px; }
  .p-3-table-header .height {
    height: 40px;
    padding: 10px 0; }

.p-3-table-list {
  display: flex;
  flex-direction: column;
  height: 80px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #e46c0a; }

.p-3-table-line {
  display: flex;
  height: 40px; }
  .p-3-table-line:first-child .p-table-col {
    border-bottom: 2px solid #e46c0a; }

.p-3-table-row {
  display: flex;
  height: 80px; }

.p-3-table-col {
  border-right: 2px solid #fff;
  border-bottom: 2px solid #e46c0a; }
  .p-3-table-col:last-child {
    border-right: none; }

.p-3-table-col1 {
  height: 80px;
  line-height: 80px;
  text-align: center; }

.p-3-table-item {
  height: 40px;
  line-height: 40px;
  text-align: center;
  box-sizing: border-box; }
  .p-3-table-item:first-child {
    border-bottom: 2px solid #e46c0a; }

.p-3-chart-item {
  height: 200px;
  border-right: 2px solid #e46c0a;
  padding: 10px 16px; }
  .p-3-chart-item:last-child {
    border-right: none; }

.p-income {
  display: flex; }
  .p-income-left {
    width: 65%;
    padding-right: 20px; }
  .p-income-right {
    width: 35%; }
  .p-income .p-table .p-table-col {
    font-size: 14px;
    min-height: 20px; }
  .p-income .p-table .p-table-col1 {
    width: 60px;
    flex: none; }
  .p-income .p-table .p-table-col2 {
    width: 140px;
    flex: none; }
  .p-income .p-title-blue {
    font-size: 18px;
    padding-left: 5px 10px; }
  .p-income-des-title {
    display: flex;
    justify-content: center; }
  .p-income-des-content {
    padding: 14px 18px;
    border: 2px solid #f00;
    border-radius: 16px; }
    .p-income-des-content-item {
      line-height: 36px;
      padding-left: 20px;
      position: relative; }
      .p-income-des-content-item::after {
        content: "";
        position: absolute;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: red;
        left: 0;
        top: 12px; }

.p-offset-table .p-table-col.p-offset-table-col-id {
  flex: none;
  width: 80px; }

.p-offset-des {
  padding-bottom: 20px;
  border-bottom: 2px solid #e46c0a; }
  .p-offset-des-item {
    line-height: 36px;
    padding-left: 20px;
    position: relative; }
    .p-offset-des-item::after {
      content: "";
      position: absolute;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: #ff0000;
      left: 0;
      top: 12px; }

.p-4-main {
  display: flex; }
  .p-4-main .p-table {
    border-bottom: none; }
    .p-4-main .p-table .p-table-col {
      min-height: 36px;
      padding: 10px 0; }
    .p-4-main .p-table .p-table-footer {
      border-top: 2px solid #e46c0a; }

.p-4-left, .p-4-right {
  width: 50%;
  box-sizing: border-box; }

.p-4-left {
  padding-right: 5px; }

.p-4-right {
  padding-left: 5px; }

.p-4-chart-bar-title {
  display: flex;
  justify-content: center; }

.p-4-chart-pie-title {
  display: flex;
  justify-content: center; }
  .p-4-chart-pie-title .p-title-blue {
    width: 10em; }

.p-4-chart-pie {
  width: 50%;
  box-sizing: border-box;
  padding: 10px 5px; }
  .p-4-chart-pie-row {
    display: flex; }

.p-5-table1 .p-table-body .p-table-row .p-table-col:first-child {
  background: #fff; }

.p-5-table .p-table-col3 {
  width: 60px;
  flex: none; }

.p-5-table .p-table-col4 {
  width: 260px;
  flex: none; }

.p-5-table .p-table-col5 {
  width: 200px;
  flex: none; }

.p-6-table .p-table-body .p-table-row .p-table-col:nth-child(-n+2) {
  background: #fff; }

.p-6-table .p-table-col1 {
  width: 80px;
  flex: none; }

.p-6-table .p-table-col2 {
  width: 200px;
  flex: none; }

.p-6-table .p-table-body .p-table-col {
  font-size: 14px;
  height: 18px;
  line-height: 18px; }

.p-8-table .p-table-col5 {
  width: 160px;
  flex: none; }

.p-8-table .p-table-col {
  min-height: 24px;
  padding: 2px 0; }

.p-9-table .p-table-col1 {
  width: 200px;
  flex: none; }

.p-9-table .p-table-body .p-table-col {
  height: 40px;
  line-height: 40px; }
  .p-9-table .p-table-body .p-table-col.whith {
    background: #fff; }

.p-9-table .p-table-body .p-table-row:nth-child(odd) {
  background: #f2f2f2; }

.p-9-table .p-table-body .p-table-row:nth-child(even) {
  background: #fff; }

.p-11-table .p-table-col4 {
  width: 240px;
  flex: none; }

.p-11-table .p-table-col {
  min-height: 36px;
  padding: 8px 0; }

.p-12-table .p-table-body .p-table-col {
  height: 30px;
  line-height: 30px; }

.p-14-income-des .p-income-des-content-item {
  line-height: 30px; }
  .p-14-income-des .p-income-des-content-item::after {
    top: 9px; }

.p-20-table .p-table-col4 {
  width: 240px;
  flex: none; }

.p-20-table .p-table-col {
  min-height: 30px;
  padding: 5px 0; }

.p-22-table .p-table-body .p-table-col {
  min-height: 36px;
  padding: 8px 0; }

.p-23-table .p-table-header .p-table-col {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  padding: 2px 0; }

.p-23-table .p-table-body .p-table-col {
  min-height: 22px;
  padding: 2px 0; }

.p-24-table .p-table-header .p-table-col {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  padding: 2px 0;
  min-height: 30px; }

.p-24-table .p-table-body .p-table-col {
  min-height: 22px;
  padding: 2px 0; }

.p-25-table .p-table-header .p-table-col {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px; }

.p-25-table .p-table-col {
  min-height: 60px;
  padding: 10px 5px; }
  .p-25-table .p-table-col.width-150 {
    flex: none;
    width: 150px; }
  .p-25-table .p-table-col.width-480 {
    flex: none;
    width: 350px; }

.p-26-table .p-table-col1 {
  width: 150px;
  flex: none; }

.p-26-table .p-table-header .p-table-col {
  min-height: 40px;
  padding: 5px 10px;
  border-bottom: none; }

.p-26-table .p-table-header .p-table-col1 {
  min-height: 80px;
  line-height: 80px;
  padding: 0; }

.p-26-table-header {
  background: #d9d9d9; }
  .p-26-table-header .height {
    height: 40px;
    line-height: 40px; }

.p-26-table-list {
  display: flex;
  flex-direction: column;
  min-height: 80px; }

.p-26-table-line {
  display: flex;
  min-height: 40px; }
  .p-26-table-line:first-child {
    border-bottom: 2px solid #fff; }

.p-26-table .p-table-body .p-table-col {
  min-height: 40px;
  padding: 10px 10px; }

.p-27-table .p-table-header .p-table-col {
  min-height: 30px;
  padding: 5px 10px;
  border-bottom: none; }
  .p-27-table .p-table-header .p-table-col:last-child {
    border-right: none; }

.p-27-table .p-table-header .p-table-col1 {
  min-height: 60px;
  line-height: 60px;
  width: 260px;
  flex: none;
  padding: 0; }

.p-27-table .p-table-header .p-table-col2 {
  width: 150px;
  flex: none; }

.p-27-table .p-table-header .p-table-col3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60;
  line-height: 20px;
  width: 140px;
  flex: none; }

.p-27-table .p-table-body .p-table-col,
.p-27-table .p-table-footer .p-table-col {
  min-height: 18px;
  line-height: 18px;
  font-size: 14px;
  padding: 1px 0; }

.p-27-table .p-table-body .p-table-col1,
.p-27-table .p-table-footer .p-table-col1 {
  width: 260px;
  flex: none; }

.p-27-table .p-table-body .p-table-col2,
.p-27-table .p-table-footer .p-table-col2 {
  width: 150px;
  flex: none; }

.p-27-table .p-table-body .p-table-col3,
.p-27-table .p-table-footer .p-table-col3 {
  width: 140px;
  flex: none; }

.p-27-table-header {
  background: #d9d9d9; }
  .p-27-table-header .height {
    height: 40px;
    line-height: 40px; }

.p-27-table-list {
  display: flex;
  flex-direction: column;
  min-height: 60px;
  border-right: 2px solid #fff; }

.p-27-table-line {
  display: flex;
  min-height: 30px; }
  .p-27-table-line:first-child {
    border-bottom: 2px solid #fff; }

.p-28-content {
  display: flex; }
  .p-28-content-left {
    width: 60%;
    padding-right: 10px; }
  .p-28-content-right {
    width: 40%; }
  .p-28-content table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border: 2px solid #000; }
    .p-28-content table th {
      background: #d9d9d9; }
  .p-28-content .p-28-table-1 {
    margin-bottom: 15px; }
  .p-28-content .p-28-table-3 td {
    height: 43px; }

.p-28-box {
  border: 2px solid #000; }
  .p-28-box-header {
    background: #d9d9d9;
    text-align: center;
    height: 30px;
    line-height: 30px;
    border-bottom: 2px solid #000; }
  .p-28-box-content {
    height: 240px;
    line-height: 24px;
    padding: 10px; }

.p-29-table .p-table-header .p-table-col {
  min-height: 20px;
  line-height: 20px;
  border-bottom: none;
  font-size: 12px;
  padding: 1px 0; }

.p-29-table .p-table-header .p-table-col1,
.p-29-table .p-table-header .p-table-col2 {
  min-height: 60px;
  line-height: 60px; }

.p-29-table-header {
  background: #d9d9d9; }
  .p-29-table-header .height {
    min-height: 20px;
    line-height: 20px;
    padding: 1px 0; }

.p-29-table-list {
  display: flex;
  flex-direction: column;
  height: 60px; }
  .p-29-table-list .p-table-col:last-child {
    border-right: 2px solid #fff; }

.p-29-table-line {
  display: flex;
  height: 20px; }
  .p-29-table-line:first-child {
    border-bottom: 2px solid #fff; }
  .p-29-table-line:nth-child(2) .p-table-col {
    height: 40px; }

.p-29-table .p-table-body .p-table-col {
  font-size: 12px;
  min-height: 20px;
  padding: 1px 0; }

.p-29-table .p-table-col1 {
  flex: none;
  width: 50px; }

.p-29-table .p-table-col2 {
  flex: none;
  width: 140px; }
